:root{
    --azulClaro: #B9DEFF;
    --azulEscuro: #002D55;
    --lilas: rgb(113, 116, 255);
    --cinza: rgb(54, 54, 54);
}
input[type="number"]{
    outline: none;
    border: 2px solid var(--cinza);
    border-radius: 5px;
    background-color: var(--lilas);
    text-align: left;
    padding: 10px;
    width: 60px;
    color: black;
    transition: .5s;
}
input[type="number"]:focus{
    width: 70px;
    border-color: var(--cinza);
    box-shadow: 0 0 5px var(--lilas);
}
input[type="submit"]{
    outline: none;
    border: 2px solid rgb(209, 205, 205);
    background-color: var(--lilas);
    border-radius: 5px;
    padding: 10px 10px;
    transition: .5s;
    text-decoration: none;
}
input[type="submit"]:hover{
    background-color: yellow;
    color: var(--azulEscuro);
    padding: 15px 15px;
    box-shadow: 0 0 5px var(--cinza);
}
main{
    margin: 10px 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
main[class='view']{
    justify-content: left;
}
.receita{
    margin: 10px;
    padding: 10px;
    display: block;
    position: relative;
    width: 25vw;
    min-width: 250px;
    min-height: 55px;
    background-color: rgb(113, 116, 255);
    border-radius: 10px;
}
.receita p{
    color: var(--azulClaro);
}
.receita a{
    color: yellow;
}
aside{
    min-width: 250px;
    max-width: 210px;
    margin: 10px;
    flex: 1;
}
.view-receita{
    background-color: white;

    min-width: 470px;
    min-height: calc(470px * 1.41);
    max-width: calc(70vw - 200px);

    padding: 20px;
    flex: 3;
}
.view-receita h1, h2, h3, li, p{
    text-align: left;
    color: black;
}
.view-receita ul li{
    list-style: disc;
}
main li{
    margin-left: 25px;
    padding-bottom: 5px;
}
