*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-decoration: none;
}
body{
    background-color: #002D55;
    text-align: center;
}
#btn-menu{
    display: none;
}
header, li ul{
    background-color: rgb(113, 116, 255);
    font-weight: 600;
}
header label{
    color: black;
    font-size: 25px;
    display: block;
    padding: 5px 10px;
    width: 20px;
    display: none;
}
header label:hover{
    background-color: #002D55;
}
.menu ul{
    list-style: none;
    margin: 0px;
    padding: 10px;
    display: flex;
    justify-content: center;
    transition: all 1s;
}
.menu li ul{
    position: absolute;
    display: none;
}
.menu li a{
    color: black;
    text-decoration: none;
    padding: 10px 100px;
    display: block;
    border-right: 1px solid #002D55;
}
.menu li a:hover{
    background-color: yellow;
}
.menu li:hover ul{
    display: block;
}
.receita{
    margin: 10px;
    padding: 10px;
    display: block;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    width: 30%;
    height: 55px;
    background-color: rgb(113, 116, 255);
    border-radius: 10px;
    color: white;
}
.receita a{
    color: white;
}
.view-receita{
    padding-left: 20px;
    width: 60%;
    height: 100%;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    background-color: rgb(248, 235, 218);
}
.view-receita h2, h3, p{
    text-align: left;
}
aside{
    left: 0;
    width: 300px;
    height: 100%;
    position: absolute;
    display: block;
    margin: 10px;
}
input[type="number"]{
    outline: none;
    border: 2px solid rgb(41, 39, 39);
    border-radius: 5px;
    background-color: rgb(113, 116, 255);
    text-align: left;
    padding: 10px;
    width: 40px;
    color: black;
    transition: .5s;
}
input[type="number"]:focus{
    width: 50px;
    border-color: rgb(32, 32, 32);
    box-shadow: 0 0 5px rgb(113, 116, 255);
}

input[type="submit"]{
    outline: none;
    border: 2px solid rgb(209, 205, 205);
    background-color: rgb(113, 116, 255);
    border-radius: 5px;
    padding: 10px 10px;
    transition: .5s;
    text-decoration: none;
}
input[type="submit"]:hover{
    background-color: yellow;
    color: #002D55;
    padding: 15px 15px;
    box-shadow: 0 0 5px rgb(54, 54, 54);
}
@media screen and (max-width:2560px) and (orientation:portrait) {
    body{
        background-image:url("Logo.png");
        background-color: #002D55;
    }
    header label{
        display: block;
    }
    .menu ul{
        position: absolute;
        width: 70%;
        flex-direction: column;
        margin-left: -100%;
    }
    .menu li a{
        border-top: 1px solid rgb(255, 242, 182);
        background:rgb(113, 116, 255);
    }
    #btn-menu:checked ~ .menu ul{
        margin-left: 0;
    }
}
