:root{
    --azulClaro: #B9DEFF;
    --azulEscuro: #002D55;
    --amarelo: #FAFF00;
    --lilas: #7174FF;
    --cinzaEscuro: #363636;
    --cinzaClaro: #D1CDCD
}
aside{
    left: 0;
    width: 300px;
    height: 100%;
    position: absolute;
    display: block;
    margin: 10px;
}
input[type="number"]{
    outline: none;
    border: 2px solid var(--cinza);
    border-radius: 5px;
    background-color: var(--lilas);
    text-align: left;
    padding: 10px;
    width: 40px;
    color: black;
    transition: .5s;
}
input[type="number"]:focus{
    width: 50px;
    border-color: var(--cinza);
    box-shadow: 0 0 5px var(--lilas);
}
input[type="submit"]{
    outline: none;
    border: 2px solid rgb(209, 205, 205);
    background-color: var(--lilas);
    border-radius: 5px;
    padding: 10px 10px;
    transition: .5s;
    text-decoration: none;
}
input[type="submit"]:hover{
    background-color: var(--amarelo);
    color: var(--azulEscuro);
    padding: 15px 15px;
    box-shadow: 0 0 5px var(--cinza);
}
main{
    margin: 10px 20px;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
}
.receita{
    margin: 10px;
    padding: 10px;
    display: block;
    position: relative;
    width: 25vw;
    min-width: 200px;
    min-height: 55px;
    background-color: rgb(113, 116, 255);
    border-radius: 10px;
}
.receita p{
    color: var(--azulClaro);
}
.receita a{
    color: var(--amarelo);
}
.view-receita{
    padding-left: 20px;
    width: 60%;
    height: 100%;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    background-color: rgb(255, 250, 250);
}
.view-receita h1, h2, h3, li, p{
    text-align: left;
    color: black;
}
.view-receita ul li{
    list-style: disc;
}
main li{
    margin-left: 25px;
    padding-bottom: 5px;
}
details li{
    color: var(--azulClaro);
}
summary{
    cursor: pointer;
    color: var(--amarelo);
    font-size: 20px;
}
@media screen and (max-width:2560px) and (orientation:portrait) {
    body{
        background-image:url("Logo.png");
        background-color: #002D55;
    }
    header label{
        display: block;
    }
    .menu ul{
        position: absolute;
        width: 70%;
        flex-direction: column;
        margin-left: -100%;
    }
    .menu li a{
        border-top: 1px solid rgb(255, 242, 182);
        background:rgb(113, 116, 255);
    }
    #btn-menu:checked ~ .menu ul{
        margin-left: 0;
    }
}
