*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-decoration: none;
}
body{
    background-color: #002D55;
    text-align: center;
}
h1{
    color: #B9DEFF;
}
h3{
    color: #B9DEFF;
}
input::placeholder{
    color: black;
}


 input[type="text"], input[type="number"], input[type="date"], select{
    outline: none;
    border: 2px solid rgb(41, 39, 39);
    border-radius: 5px;
    background-color: rgb(113, 116, 255);
    display: block;
    margin: 30px auto;
    text-align: left;
    padding: 10px;
    width: 200px;
    color: black;
    transition: .5s;
}
input[type="text"]:focus, input[type="number"]:focus, input[type="date"]:focus, select:focus{
    width: 250px;
    border-color: rgb(32, 32, 32);
    box-shadow: 0 0 5px rgb(113, 116, 255);
}

input[type="submit"], input[type="button"], input[type="reset"], button{
    outline: none;
    border: 2px solid rgb(209, 205, 205);
    background-color: rgb(113, 116, 255);
    border-radius: 5px;
    padding: 10px 10px;
    margin: 20px;
    margin-top: 10px;
    transition: .5s;
    text-decoration: none;
}
input[type="submit"]:hover, input[type="button"]:hover, input[type="reset"]:hover, button:hover{
    background-color: yellow;
    color: #002D55;
    padding: 15px 15px;
    box-shadow: 0 0 5px rgb(54, 54, 54);
}


#unidade_de_medida{   
    outline: none;
    border: 2px solid rgb(41, 39, 39);
    border-radius: 5px;
    background-color: rgb(113, 116, 255);
    display: block;
    margin: 30px auto;
    text-align: left;
    padding: 10px;
    width: 225px;
    color: black;
    transition: .5s;
}

label{
    color: black;
    font-size: 25px;
    display: block;
    padding: 5px 10px;
    width: 20px;
    display: none;
    left: 100%;
    transform: translateX(-100%);
    position: relative;
}





