.filtros{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
select, input, button{
    margin: 10px 5px;
    padding: 4px 2px;
    display: inline;
    background-color: rgb(113, 116, 255);
    border: none;
    line-height: 19px;
    cursor: pointer;
    transition: .5s;
}
input{
    max-width: 250px;
    flex: 3;
}
select{
    max-width: 200px;
    flex: 2;
}
button{
    flex: 1;
}
input::placeholder{
    color: black;
}