*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body{
    font-family: sans-serif;
    background-color: #002D55;
}

#btn-menu{
    display: none;
}

header, li ul{
    background-color: rgb(113, 116, 255);
}

header label{
    color: black;
    font-size: 25px;
    display: block;
    padding: 5px 10px;
    width: 20px;
    display: none;
}

header label:hover{
    background-color: #002D55;
}

.menu ul{
    margin: 0px;
    padding: 10px;
    display: flex;
    justify-content: center;
    transition: all 1s;
}

.menu li ul{
    position: absolute;
    display: none;
}

.menu li a{
    font-size: 20px;
    color: black;
    padding: 10px 100px;
    display: block;
    border-right: 1px solid #002D55;
    transition: .4s;
}

.menu li a:hover{
    background-color: yellow;
}

.menu li:hover ul{
    display: block;
}

.sidebar{
    position: fixed;
    background: rgb(113, 116, 255);
    color: black;
    left: -200px;
    width: 200px;
    height: 100%;
    transition: all .4s ease;
}

.sidebar li a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: black;
    padding-left: 40px;
    border-top: 1px solid black;
    box-sizing: border-box;
    transition: .4s;
}
.sidebar li a:hover{
    padding-left: 50px;
    background-color: yellow;
}
#btn-sidebar{
    display: none;
}
label #btn, label #cancel{
    position: absolute;
    cursor: pointer;
    background-color: rgb(113, 116, 255);
    border-radius: 3px;
}
label #btn{
    left: 0;
    top: 50%;
    font-size: 35px;
    color: aliceblue;
    padding: 6px 12px;
    transition: all .4s ease;
}
label #cancel{
    z-index: 1111;
    left: -160px;
    top: 50%;
    font-size: 35px;
    color: aliceblue;
    padding: 2px 9px;
    transition: all .4s ease;
}
#btn-sidebar:checked ~ .sidebar{
    left: 0;
}
#btn-sidebar:checked ~ label #btn{
    left: 200px;
    opacity: 0;
    pointer-events: none;
}
#btn-sidebar:checked ~ label #cancel{
    left: 200px;
    opacity: 100;
}
section{
    background-color: #002D55;
    background-repeat: no-repeat;
    background-size: cover;
    height: fit-content;
    background-position: center;
    color: #B9DEFF;
    height: 100vh;
    padding: 60px 0 0 40px;
    transition: all .4s;
}
#btn-sidebar:checked ~ section{
    margin-left: 200px;
    padding: 10px 0 0 10px;
}

@media screen and (max-width:2560px) and (orientation:portrait) {
    body{
        background-color: #002D55;
    }
    header label{
        display: block;
    }
    
    .menu ul{
        position: absolute;
        width: 70%;
        flex-direction: column;
        margin-left: -100%;
    }
    
    .menu li a{
        border-top: 1px solid rgb(255, 242, 182);
        background:rgb(113, 116, 255);
    }
    
    #btn-menu:checked ~ .menu ul{
        margin-left: 0;
    }
}
