*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-decoration: none;
}
form{
    border: 1px solid black;
    width: 300px;
    height: 100%;
    padding: 150px 40px;
    text-align: center;
    position: fixed;
    transform: translate(-100%);
    left: 100%;
}
h2{
    font-weight: 500;
}
input[type="email"], input[type="password"]{
    outline: none;
    border: 2px solid rgb(209, 205, 205);
    border-radius: 5px;
    background: none;
    display: block;
    margin: 30px auto;
    text-align: left;
    padding: 10px;
    width: 200px;
    color: black;
    transition: .5s;
}
input[type="email"]:focus, input[type="password"]:focus{
    width: 250px;
    border-color: rgb(32, 32, 32);
    box-shadow: 0 0 5px rgb(0, 0, 0);
}
input[type="submit"], input[type="button"], input[type="reset"]{
    outline: none;
    border: 2px solid rgb(209, 205, 205);
    background-color: rgb(224, 224, 224);
    border-radius: 5px;
    padding: 10px 10px;
    margin: 20px;
    margin-top: 100px;
    transition: .5s;
    text-decoration: none;
}
input[type="submit"]:hover, input[type="button"]:hover, input[type="reset"]:hover{
    background-color: rgb(54, 54, 54);
    color: white;
    padding: 15px 15px;
    box-shadow: 0 0 5px rgb(54, 54, 54);
}
#btn-menu{
    display: none;
}
label{
    color: black;
    font-size: 25px;
    display: block;
    padding: 5px 10px;
    width: 20px;
    display: none;
}
@media screen and (max-width:2560px) and (orientation:portrait) {
    label{
        display: block;
        left: 100%;
    }
    #btn-menu:checked ~ .menu ul{
        margin-left: 0;
    }
}
