:root{
    --azulClaro: #B9DEFF;
    --azulEscuro: #002D55;
    --lilas: rgb(113, 116, 255);
    --cinza: rgb(54, 54, 54);
}
.btn-plus{
    display: block;
    margin: auto;
}
table, th, td{
    color: var(--azulClaro);
    border-color: black;
    border-collapse: collapse;
    text-align: center;
}