p{
    margin-left: 2%;
}
.inserir{
    margin-left: 4%;
    display: inline;
}
input[type="checkbox"]{
    margin-right: 2%;
}
hr{
    margin-right: 40px;
}
a{
    text-decoration: none;
    color: black;
}
button, input[type="submit"], select{
    margin: 20px;
    display: inline;
}
button:hover, input[type="submit"]:hover{
    background-color: yellow;
}
fieldset{
    min-width: 225px;
    padding: 10px;
    border-width: 2px;
    border-color: #B9DEFF;
    border-style: solid;
    border-radius: 8px;
    margin: 15px;
}
legend{
    text-align: center;
    font-weight: 600;
    color: #B9DEFF
}
select{
    margin: 0 0 20px 0;
}
.contas{
    display: flex;
    flex-wrap: wrap;
}