p{
    margin-left: 2%;
}
.inserir{
    margin-left: 4%;
    display: inline;
}
input[type="checkbox"]{
    margin-right: 2%;
}
hr{
    margin-right: 40px;
}
a{
    text-decoration: none;
    color: black;
}
button, input[type="submit"], select{
    margin: 20px;
    display: inline;
}
button:hover, input[type="submit"]:hover{
    background-color: yellow;
}