*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-decoration: none;
}
body{
    background-color: #002D55;
    text-align: center;
}
table, th, td{
    color: yellow;
    border-color: black;
    border-collapse: collapse;
    text-align: 20px;
}
input::placeholder{
    color: black;
}


 input[type="text"], input[type="email"], input[type="number"], select{
    outline: none;
    border: 2px solid rgb(41, 39, 39);
    border-radius: 5px;
    background-color: rgb(113, 116, 255);
    display: block;
    margin: 30px auto;
    text-align: left;
    padding: 10px;
    width: 200px;
    color: black;
    transition: .5s;
}
input[type="text"]:focus, input[type="email"]:focus, input[type="number"]:focus, select:focus{
    width: 250px;
    border-color: rgb(32, 32, 32);
    box-shadow: 0 0 5px rgb(113, 116, 255);
}
input[type="submit"], input[type="button"], input[type="reset"]{
    outline: none;
    border: 2px solid rgb(209, 205, 205);
    background-color: rgb(113, 116, 255);
    border-radius: 5px;
    padding: 10px 10px;
    margin: 20px;
    margin-top: 10px;
    transition: .5s;
    text-decoration: none;
}
input[type="submit"]:hover, input[type="button"]:hover, input[type="reset"]:hover{
    background-color: yellow;
    color: #002D55;
    padding: 15px 15px;
    box-shadow: 0 0 5px rgb(54, 54, 54);
}


label{
    color: black;
    font-size: 25px;
    display: block;
    padding: 5px 10px;
    width: 20px;
    display: none;
    left: 100%;
    transform: translateX(-100%);
    position: relative;
}

header, li ul{
    background-color: rgb(113, 116, 255);
    font-weight: 600;
}

header label{
    color: black;
    font-size: 25px;
    display: block;
    padding: 5px 10px;
    width: 20px;
    display: none;
}

header label:hover{
    background-color: #002D55;
}

#btn-menu{
    display: none;
}

.menu ul{
    list-style: none;
    margin: 0px;
    padding: 10px;
    display: flex;
    justify-content: center;
    transition: all 1s;
}

.menu li ul{
    position: absolute;
    display: none;
}

.menu li a{
    color: black;
    text-decoration: none;
    padding: 10px 100px;
    display: block;
    border-right: 1px solid #002D55;
}

.menu li a:hover{
    background-color: yellow;
}

.menu li:hover ul{
    display: block;
}

@media screen and (max-width:2560px) and (orientation:portrait) {
    body{
        background-image:url("Logo.png");
        background-color: #002D55;
    }
    header label{
        display: block;
    }
    
    .menu ul{
        position: absolute;
        width: 70%;
        flex-direction: column;
        margin-left: -100%;
    }
    
    .menu li a{
        border-top: 1px solid rgb(255, 242, 182);
        background:rgb(113, 116, 255);
    }
    
    #btn-menu:checked ~ .menu ul{
        margin-left: 0;
    }
}
