.lucro{
    padding: 5px 5px;
}
.receita{
    color: rgb(3, 185, 3);
}
.despesa{
    color: rgb(190, 0, 0);
}
h3{
    color:#add8e6;
}
span{
    font-weight: 500;
}
#chart{
    background-color: #B9DEFF;
    border-radius: 12px;
}
.chart-container{
    position: relative; 
    margin: auto;
    width:60%
}
#chart2{
    background-color: #B9DEFF;
    border-radius: 12px;
    display: none;
}
.chart-container2{
    position: relative; 
    margin: auto;
    width:60%;
}
#buscar-data-inicio, #buscar-data-final{
    flex: 1;
    max-width: 150px;
    margin: 10px 15px;
}
button {
    flex: 1;
    max-width: 150px;
    margin: 10px 15px;
}

.filtro{
    display: flex;
    justify-content: center;
}