.lucro{
    padding: 5px 5px;
}
.receita{
    color: rgb(3, 185, 3);
}
.despesa{
    color: rgb(190, 0, 0);
}
h3{
    color:#add8e6;
}
span{
    font-weight: 500;
}
#chart{
    background-color: #B9DEFF;
    border-radius: 12px;
}
.chart-container{
    position: relative; 
    margin: auto;
    width:60%
}