.lucro{
    padding: 5px 5px;
}
.receita{
    color: rgb(3, 185, 3);
}
.despesa{
    color: rgb(190, 0, 0);
}
h3{
    color:#add8e6;
}
span{
    font-weight: 500;
}
#chart{
    background-color: #B9DEFF;
    border-radius: 12px;
}
.chart-container{
    position: relative; 
    margin: auto;
    width:60%
}
#chart2{
    background-color: #B9DEFF;
    border-radius: 12px;
}
.chart-container2{
    position: relative; 
    margin: auto;
    width:60%
}
#buscar-data-inicio{
    position: absolute;
    left: 35%;
    top: 30%;
}
#buscar-data-final{
    position: absolute;
    left: 50%;
    top: 30%;
}
button {
    padding: .5em 4em;
    border: 0;
    border-bottom: 3px solid;
    color: #fff;
    border-color: #044c2e;
    display: block;
    position: absolute;
   left: 70%;
   top: 30%;
}